body {
  font-family: 'helvetica neue', sans-serif;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  margin: 1em 0 0;
}

h1 {
  font-size: 370%;
  font-weight: 800;
  margin: 0 0 1.3em 0;
  padding: 0;
}

button {
  color: white;
  border-radius: 2.5em;
  width: 9em;
  height: 3em;
  background-color: black;
  font-weight: 600;
  font-size: 1.2em;
  /* letter-spacing: .1em; */
  margin-top: 4em;
  height: 2em;
}

button, input[type="text"]:focus, input[type="text"] {
  outline: none;
  border-style:solid;
  border: none;
  outline: none;
  box-shadow: none;
}

#containerDiv, #resultsContainer {
  background-color: #FDD932;
  height: 85vh;
  margin: 3em;
  display: flex;
  /* border: solid 1px red; */
}

#userInputForm {
  width: 90em;
  /* border: 1px solid blue; */
  padding: 5em;
  /* display: flex; */
}

input {
  height: 1em;
}

input[type="text"] {
  background-color: #FDD932;
  border-bottom: 1.2px solid black;
  width: 20em;
  height: 3em;
  transition: width 0.2s ease-in-out;
  font-size: 1em;
  padding-bottom: .5em;
}

input[type="text"]:focus {
  border-bottom: 1.2px solid black;
  width: 22em;
}

input[type="text"]:hover {
  width: 22em;
} 

#resultsContainer {
  display: none;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

#resultsList p {
  font-size: 3em;
  font-weight: 800;
  margin: .1em 0 .1em .5em;

}

