body {
  font-family: 'helvetica neue', sans-serif;
  margin: 0;
  cursor: url('../IMG/click2.svg'), auto;
}

p {
  font-size: 2.2em;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 9em;
  font-weight: 400;
  margin: 0 0 1.3em 0;
  padding: 0;
}

h2 {
  font-weight: 600;
  font-size: 1.2em;
  margin: 1.6em;
  color: black;
}

h3 {
  margin: 1.2em;
  color: black;
  font-weight: 600;
  font-size: 1.2em;
}

button {
  color: black;
  border: 1px solid black !important;
  border-radius: 2.5em;
  width: 9em;
  height: 3.5em;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 600;
  font-size: 1.2em;
  margin-top: 4em;
  height: 2em;
  transition: all 0.15s ease-in-out;
}

button:hover {
  border: none !important;
  background-color: white;
  color: black;
}

button, input[type="text"]:focus, input[type="text"] {
  outline: none;
  border-style:solid;
  border: none;
  outline: none;
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

input[type="text"], #containerDiv, #resultsContainer {
  background-color: #FCD846;
}

input[type="text"] {
  border-bottom: 1.2px solid black;
  width: 17em;
  height: 2em;
  transition: width 0.2s ease-in-out;
  font-size: 1em;
  padding-bottom: .5em;
  color: black;
  
}

input[type="text"]:focus {
  border-bottom: 1.2px solid black;
  width: 20em;
}

input[type="text"]:hover {
  width: 22em;
} 

::placeholder {
  color: black;
  font-size: 1.5em;
  font-weight: 400;
}

#overallContainer {
  display: grid;
  grid-template-columns: 3em 1fr 3em;
  grid-template-rows: 3em 1fr 3em;
}

#containerDiv, #resultsContainer {
  grid-column: 2 / span 1;
  grid-row: 2 /span 1;
  height: 87vh;
}

#containerDiv {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 13em 1fr;
}

#userNameInput, #userNameInput {
  color: black;
  padding: .2em;
  margin: 1em 0;
}

#resultsContainer {
  display: none;
  overflow: scroll;
}

#resultsList p {
  font-size: 3em;
  font-weight: 400;
  margin: .1em 0 .1em .5em;
}

#resultsList p span {
  background: white;
  color: black;
}

#resetButtonTop {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  justify-self: center;
  align-self: center;
  display: none;
}

#resetButtonLeft {
  transform: rotate(270deg); 
  width: 5.5em;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  justify-self: center;
  align-self: center;
  display: none;
}

#resetButtonRight {
  transform: rotate(90deg); 
  width: 5.5em;
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  justify-self: center;
  align-self: center;
  display: none;
}

#resetButtonBottom {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  justify-self: center;
  align-self: center;
  display: none;
}

#mrRobo {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  justify-self: left;
  padding: 0 1.5rem;
}

#howItWorks {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  padding: .5rem 5rem 0 2rem;
  justify-self: left;
  letter-spacing: .01em;
}

#formContainer {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  justify-self: left;
  padding: .5rem 0 0 1rem;
}

#formHeader {
  margin-bottom: 1.2em;
}

.resetButton {
  transition: all 0.15s ease-in-out;
}
.resetButton:hover {
  color: #FCD846;
  /* cursor: pointer; */
}